@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.results {
  margin: $margin-mobile;
  &__text-container {
    display: flex;
    justify-content: space-between;
    @include tablet {
      margin: 0 0 1rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        ". ."
        ". ."
        ". .";
    }
    @include desktop {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__query {
    font-weight: 700;
  }
}
