// Colors
$col-background-primary: #353535;
$col-background-secondary: #3c6e71;
$col-text-primary: #ffffff;
$col-text-secondary: #d9d9d9;
$col-alternate: #284b63;

// Margin/Padding Increments
$margin-mobile: 1rem;
$margin-tablet: 2.25rem;
$margin-desktop: 6.5rem;
$margin-between-items: 0.5rem;
$margin-between-components: 1.5rem;

// Font Sizes
$header-text: 2.5rem;
$sub-header-text: 2rem;
$body-text: 1rem;
