// Colors
$col-background-primary: #dcdcdd;
$col-background-secondary: #e7e7eb;
$col-background-alternate: rgba(53, 53, 53, 0.2);
$col-text-primary: #46494c;
$col-text-secondary: #e6e6e6;
$col-alternate: #284b63;
$col-cta: #1a1a1a;
$col-cta-hover: #000000;

// Margin/Padding Increments
$margin-mobile: 1rem;
$margin-tablet: 2.25rem;
$margin-desktop: 6.5rem;
$margin-between-items: 0.5rem;
$margin-between-components: 1.5rem;

// Font Sizes
$header-text: 2.5rem;
$sub-header-text: 2rem;
$body-text: 1rem;
