@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.search {
  margin: $margin-mobile;

  &__input {
    width: 100%;
    & input {
      color: $col-text-primary;
      &:focus {
        font-weight: bold;
      }
    }
  }
  &__icon {
    color: $col-alternate;
  }
}

.filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid $col-background-alternate;
  border-top: 1px solid $col-background-alternate;
  margin-top: $margin-between-components;
  @include tablet {
    justify-content: flex-start;
  }

  & label {
    color: $col-text-primary;
    margin: $margin-between-items;
  }
  &__select {
    margin: $margin-between-items;
    width: 7.5rem;
    height: 3rem;
    color: $col-text-primary;
    &:before {
      border-color: red;
    }
  }
}
