@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card {
  margin: 0 $margin-mobile $margin-between-components;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &__header-container {
    margin: $margin-between-items 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__make {
    margin: 0 2rem 0 0;
    color: $col-text-primary;
    @include hideOverflow;
  }

  &__model {
    margin: 0 0;
    color: $col-text-secondary;
    font-style: italic;
  }
  &__image-container {
    height: 16rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__location {
    margin-left: $margin-between-items;
  }
  &__price,
  &__model {
    margin-right: $margin-between-items;
  }
  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: $col-cta;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
      background-color: $col-cta-hover;
    }
  }
}
